<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <title>Dojos</title>
    </head>
    <body>
        <div class="unit">
            <h1>NEW DOJO</h1>
            <form action="/fun_create_dojo" method="POST">
                <label for="name">Dojo Name:</label>
                <input type="text" name="name" />
                <input type="submit" value="Create" />
            </form>
        </div>
        <div class="unit">
            <h1>DOJOS</h1>
            {% for one_dojo in all_dojos %}
            <p><a href="/dojos/{{one_dojo.id}}">{{ one_dojo.name }}</a></p>
            {% endfor %}
            <div class="unit">
                <a href="/new_ninja">Add Ninja</a>
            </div>
        </div>
    </body>
</html>
